[user]
  name = Marcio Ikematsu
  email = marcio.ikematsu@usp.br
  username = xixa

[core]
  editor = v

[web]
  browser = google-chrome

[diff]
  tool = vimdiff

[github]
  user = xixa
  token = token

[color "status"]
  added = green
  changed = yellow
  untracked = red

[alias]
  s = status
  c = commit
  pom = push origin master
