snippet basic "bootstrap"
#include <iostream>
using namespace std;

${1:// code here! //}

int main() {
	${2: // or here! //}
	return 0;
}
endsnippet

snippet class "basic class" 
class ${1:ClassName} {
	public:
	$1() {

	}
	private:
};
endsnippet
