snippet * "JSX comment"
{/* ${VISUAL}$0 */}
endsnippet

snippet ws "non-breaking space shorthand"
,&nbsp;
endsnippet

snippet br "non-breaking space shorthand"
,&nbsp;
endsnippet

snippet < "Description"
<>
	${VISUAL}
</>
endsnippet
