#! header
snippet #! "Shebang header for python scripts" 
#!/usr/bin/env python
# -*- coding: utf-8 -*-
$0
endsnippet

snippet flask
from flask import Flask
app = Flask(__name__)

@app.route("/")
def ${1:hello}():
    return ${2:"Oi mundo!"}

if __name__ == "__main__":
    app.run()
endsnippet
